In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn import datasets, svm

review = pd.read_csv('yelp-data/yelp_academic_dataset_review.csv')

In [3]:
restaurant = pd.read_csv('jp_us.csv')

In [4]:
restaurant.head()

,Unnamed: 0,business_id,reservation,price_range,alcohol,open,city,review_count,stars,city.1,state,open_flg,reserv_flg
0,1,8Nm_jcCYtMXYW0ODSHDiXA,True,2,full_bar,True,Pittsburgh,10,4.0,Pittsburgh,PA,1,1
1,2,QnyzlVMyx0Exri-Lay10cA,True,2,full_bar,False,Pittsburgh,23,3.5,Pittsburgh,PA,0,1
2,3,1vQLTKwmcmZXtNzfKEvMmA,True,3,full_bar,True,Pittsburgh,52,3.0,Pittsburgh,PA,1,1
3,4,mPlWLIA4pkHMRtlQDm6UyQ,True,2,full_bar,True,Pittsburgh,127,4.0,Pittsburgh,PA,1,1
4,5,9SPwF-vRgtuHxciFxv5YLA,True,3,full_bar,True,Pittsburgh,237,4.0,Pittsburgh,PA,1,1

In [5]:
del restaurant['Unnamed: 0']

In [6]:
data = pd.merge(restaurant, review, on='business_id')

In [8]:
data.shape

(89188, 21)

In [9]:
data.to_csv('subset.csv',index=False)